* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Roboto", Sans-serif, serif;
    font-size: 2rem;
    color: #fff;
}


#navbar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20rem;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #7f5af0;

}

.name-logo .logo {
    font-size: 4rem;
    font-weight: 800;
    font-style: italic;
    padding: 1rem;
}

/*#navbar {*/
/*    position: sticky;*/
/*    top: 0;*/
/*}*/

.nav-bar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    vertical-align: middle;
}

li {
    list-style: none;
}

.nav-link {
    display: inline-block;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav-link:hover {
    background-color: red;
}

.section-container {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 6rem 0;

}

#welcome-section {
    background-color: #16161a;
    align-items: center;
    height: 95vh;
    overflow: hidden;
}

#hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding-top: 25rem;
}

.hero-content {
    padding-left: 30rem;
}

.hero-content #hero-title {
    font-size: 10rem;
    font-family: "Oswald", Sans-serif, serif;
    font-weight: 800;

}

.hero-content .hero-info {
    font-size: 3rem;
    padding-top: 1rem;
}

/* .hero-img-container {
    padding-right: 30rem;
}

#hero-img {
    border-radius: 50%;
    width: 40rem;
} */

#educations {
    background-color: #242629;

}

.sub-section {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}

.section-title {
    font-family: "Oswald", Sans-serif, serif;
    font-size: 7rem;
    padding-bottom: 5rem;
    color: #7f5af0;
}

.content {
    padding: 0.5rem 0;
}

.coursework-ul .course {
    padding-top: 0.5rem;

}

#skills {
    background-color: #16161a;
}

.icons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
}

.icons {
    background-color: #242629;
    padding: 1rem;
}

.icons i {
    font-size: 20rem;
}

#projects {
    background-color: #242629;
}

.project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    text-align: center;
    max-width: 150rem;
    margin: 0 auto;
}

#projects .section-title {
    text-align: center;
}

.project {
    width: 40rem;
    height: 40rem;
    border: none;
    border-radius: 5px;
}

.project .proj-img-container {
    width: 100%;
    height: 80%;
    background-color: #4d0f00;
}

.project .project-title-container {
    width: 100%;
    height: calc(100% - 80%);
    background-color: #16161a;
    padding-top: 2rem;
}

#contacts {
    background-color: #16161a;
}

.meet {
    font-size: 4rem;
}

.social-icons-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.social-icons-container i {
    font-size: 4rem;
}

.footer {
    background-color: #242629;
    padding: 3rem 0;
    text-align: center;
}

.hello-style {
    color: #7f5af0;
}

.bold {
    font-weight: bold;
    color: #7f5af0;
    font-style: italic;
}

.lets-meet {
    color: #e53170;
}

.proj-img-container .proj-img {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 1500px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 1360px) {
    html {
        font-size: 45%;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 35%;
    }
}

@media (max-width: 550px) {
    html {
        font-size: 35%;
    }

    #hero {
        gap: 3rem;
        padding-top: 5rem;
    }

    .hero-content {
        padding-left: 3rem;
    }

    .hero-content .hero-info {
        font-size: 3rem;
        padding-top: 1rem;
    }

    .hero-img-container {
        padding-right: 3rem;
    }

    .nav-header {

        padding: 0 1rem;
        align-items: center;
        position: sticky;
        top: 0;
    }

}
